<header>
    <div class="navbar bg-neutral text-neutral-content">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl">TopTens!</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a class="hover:bg-white">My Favorites</a></li>
                <li>
                    <details>
                        <summary class="hover:bg-white">
                            Account
                        </summary>
                        <ul class="p-2 bg-base-100">
                            <li class="hover:bg-white" ><a>Profile</a></li>
                            <li><a>Logout</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>